<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challenge.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
				<key>dateExpires</key>
				<string>5/3/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>10.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C832657CFD5496917D4FF3C015A30ABC0F1AD6C3</string>
						<key>dateExpires</key>
						<string>5/3/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9352MAN45</string>
						<key>name</key>
						<string>Martin Tambucho</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T9352MAN45.com.uppercut.mealchallenge</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T9352MAN45</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>534eef2e-c7c8-419d-93a5-afa5ae6e4754</string>
				<key>dateExpires</key>
				<string>3/6/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T9352MAN45</string>
				<key>name</key>
				<string>Martin Tambucho</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
